<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ChatApp Welcome</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<body>
  <div class="overlay">
    <div class="content">
      <h1>Welcome to Chat Application</h1>
      <div class="buttons">
        <a href="{% url 'sign_in' %}" class="btn">
          <img src="https://cdn-icons-png.flaticon.com/128/992/992651.png" alt="login" class="icon">
          Login
        </a>
        <a href="{% url 'signup' %}" class="btn">
          <img src="https://cdn-icons-png.flaticon.com/128/1828/1828490.png" alt="signup" class="icon">
          Register
        </a>
      </div>
    </div>
  </div>
</body>
</html>
